.archive-page {
  h1 {
    font-size: 1.6em;

    padding: 25px 0;
  }

  h2 {
    font-size: 1.4em;
    margin: 25px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
  }

  li {
    padding: 0 2px;
  }

  a {
    font-weight: 300;
  }

  padding-bottom: 75px;

  @include tablet {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 22px;
    }

    ul {
      font-size: 20px;
    }
  }
}
