header {
  padding: 30px 0;

  img {
    display: flex;
    justify-content: flex-start;
    width: 300px;

    @include tablet {
      width: 500px;
    }
    @include desktop {
      width: 700px;
      margin: 0 auto;
    }
  }
}
