body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: $grey;
  font-size: 16px;
  font-family: 'Exo';
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5rem;
  padding: 0 10px;

  a {
    color: $green;

    text-decoration: none;

    &:visited {
      color: $green;
    }
    &:hover {
      color: #090;
    }
  }
  @include tablet {
    font-size: 24px;
    line-height: 42px;
    max-width: 1240x;
  }
  h1 {
    font-weight: 500;
  }
  h2 {
    font-weight: 500;
  }
  @include desktop {
    width: 1080px;
  }
}

#quote-button {
  font-family: Exo;
  margin-top: 25px;
  width: 250px;
  color: $green;
  background-color: $grey;
  border: 1px solid $green;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1;
  padding: 0.75rem 2.25rem;
  cursor: pointer;
  &:hover {
    color: #090;
  }
  @include tablet {
    font-size: 0.75em;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.home-quote {
  margin: 25px 0px;
  @include desktop {
    display: flex;
    justify-content: center;
    width: 650px;
  }
}

.dotted-line {
  border-top: 1px dotted white;
  margin-top: 40px;
}

.quote-section {
  display: flex;
  flex-wrap: wrap;
  span {
    padding-right: 5px;
    padding-left: 5px;
  }
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.source {
  font-family: 'Exo';
  font-style: italic;
  font-weight: 300;
}

.source-link {
  font-family: 'Exo';
  font-style: italic;
  font-weight: 300;
}

.desktop-container {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

#left {
  display: none;
  @include desktop {
    display: block;
    // position: relative;
    // top: 175px;
    // left: 50px;
    font-size: 115px;
    color: $green;
  }
}

#right {
  display: none;

  @include desktop {
    display: block;
    // position: relative;
    // top: 175;
    // right: 50px;
    font-size: 115px;
    color: $green;
  }
}
