body {
  background: $grey;
  font-size: 16px;
  font-family: Exo;
  color: #ffffff;
  line-height: 1.5rem;

  a {
    color: $green;

    text-decoration: none;

    &:visited {
      color: $green;
    }
  }
}

.home-quote {
  margin: 25px 0px;
}
