body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: $grey;
  font-size: 16px;
  font-family: Exo;
  color: #ffffff;
  line-height: 1.5rem;
  padding: 0 10px;

  a {
    color: $green;

    text-decoration: none;

    &:visited {
      color: $green;
    }
    &:hover {
      color: #090;
    }
  }
}
button {
  margin: 25px 0;
  width: 150px;
}

.home-quote {
  margin: 25px 0px;
}

.dotted-line {
  border-top: 1px dotted white;
  margin-top: 40px;
}
