.submit-a-quote {
  display: flex;
  font-size: 16px;
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
  }
  textarea {
    margin-bottom: 20px;
    background-color: $grey;
    border: 2px solid $green;
    border-radius: 2px;
    height: 30px;
    color: white;
    padding: 5px;
    @include desktop {
      width: 500px;
    }
  }

  @include desktop {
    justify-content: center;
  }
}
#quote-form {
  height: 38px;
}

#submit {
  background-color: $grey;
  font-family: Exo;
  border: 1px solid $green;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1;
  color: $green;
  width: 125px;
  margin-top: 10px;
  height: 30px;
  padding: 5px 5px;
  cursor: pointer;
  &:hover {
    color: #090;
  }
}
