.submit-a-quote {
  form {
    display: flex;
    flex-direction: column;
  }

  input {
    background-color: $grey;
    border: 2px solid $green;
    border-radius: 2px;
    height: 30px;
  }
}
#quote {
  height: 60px;
}

#submit {
  color: $green;
  width: 100px;
  margin-top: 25px;
  height: 30px;
  padding: 2px 5px;
}
